<footer class="footer">
    <div class="footer-newsletter p-5">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="title single-footer f-about">
                            <div class="logo">
                                <a href="/">
                                    <img src="{{ "../assets/images/logo/white-logo.png" | prepend: site.baseurl }}"
                                        alt="#">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <div class="single-footer f-about">
                            <ul class="social mt-0">
                                <li style="float:right;">
                                    <div class="button add-list-button">
                                        <a href="https://wa.me/917373022237?text=Quote" target="_blank"
                                            class="btn btn-alt">
                                            <i class="lni lni-whatsapp"></i> Get A Quote
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>
<script src="{{ "../assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/js/tiny-slider.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/js/glightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/js/count-up.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/js/main.js" | prepend: site.baseurl }}"></script>

</body>