---
layout: base
permalink: /
---
<section id="home" class="hero-area"
    style="background: url(/../assets/images/bg.jpg);background-repeat: no-repeat;background-position: right;background-size: cover;background-color: #212f56;">
    <div class="container" style="background-color: rgb(33, 47, 86, .8);padding: 1.5rem;">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="hero-content">
                    <h1 class="wow fadeInLeft" data-wow-delay=".4s">Quality Over Anything.</h1>
                    <p class="wow fadeInLeft" data-wow-delay=".6s">The Fair Price People, is the place where you can
                        order your groceries online. High quality grocery for lowest prices.</p>
                    <div class="button wow fadeInLeft" data-wow-delay=".8s">
                        <a href="https://wa.me/917373022237?text=Quote" target="_blank" class="btn"><i
                                class="lni lni-whatsapp"></i> Get A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="overview" class="app-info section">
    <div class="container">
        <div class="info-one style2 pt-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="info-image wow fadeInLeft" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <img class="ss1" src="/../assets/images/about.jpg" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">

                    <div class="info-text wow fadeInRight" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <div class="main-icon">
                            <i class="lni lni-layout"></i>
                        </div>
                        <h2>About Us</h2>
                        <p>Collaborate over projects with your team and clients optimised for mobile and tablet
                            don't
                            let slow page speeds drive our innovative platform empowers anyone to convert clicks
                            ou'll
                            publish your first landing page in minutes.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="title">
                    <h2>Quality Over Anything</h2>
                    <p>The Fair Price People, is the place where you can order your groceries online. High quality
                        grocery for lowest prices.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h3 class="counter"><span id="secondo1" class="countup" cup-end="100">100 </span>%</h3>
                            <p>satisfaction</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <h3 class="counter"><span id="secondo2" class="countup" cup-end="120">120 </span>+</h3>
                            <p>Happy Users</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <h3 class="counter"><span id="secondo3" class="countup" cup-end="100">100 </span>+</h3>
                            <p>Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Products</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">

                    </h2>
                </div>
            </div>
        </div>
        
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="lni lni-layout"></i>
                        <div class="ps-3">
                            <small class="text-body">Category</small>
                            <h6 class="mt-n1 mb-0">Flour Items</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="lni lni-layout"></i>
                        <div class="ps-3">
                            <small class="text-body">Category</small>
                            <h6 class="mt-n1 mb-0">Dal Items</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="lni lni-layout"></i>
                        <div class="ps-3">
                            <small class="text-body">Category</small>
                            <h6 class="mt-n1 mb-0">Pasi Payaru</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-4">
                        <i class="lni lni-layout"></i>
                        <div class="ps-3">
                            <small class="text-body">Category</small>
                            <h6 class="mt-n1 mb-0">Others</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade p-0 active show">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Flour Items</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">

                        
                        {% for item in site.data.products %}
                        {% if item.category == 'flour' %}
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">  
                                <i class="text-success icon-box lni lni-checkmark"></i>
                                <div class="w-100 d-flex flex-column text-start ps-2">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{item.name}}</span>
                                        <small class="text-primary" style="font-size: 14px;">{{item.kg}}</small>
                                    </h5>
                                    <small class="fst-italic text-danger">{{item.type}}</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div id="tab-2" class="tab-pane fade p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Dal Items</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        {% for item in site.data.products %}
                        {% if item.category == 'dal' %}
                            <div class="col-lg-4">
                                <div class="d-flex align-items-center">                                
                                    <i class="text-success icon-box lni lni-checkmark" ></i>
                                    <div class="w-100 d-flex flex-column text-start ps-2">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>{{item.name}}</span>
                                            <small class="text-primary" style="font-size: 14px;">{{item.kg}}</small>
                                        </h5>
                                        <small class="fst-italic text-danger">{{item.type}}</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Pasi Payaru</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        {% for item in site.data.products %}
                        {% if item.category == 'pasi' %}
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">                                
                                <i class="text-success icon-box lni lni-checkmark" ></i>
                                <div class="w-100 d-flex flex-column text-start ps-2">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{item.name}}</span>
                                        <small class="text-primary" style="font-size: 14px;">{{item.kg}}</small>
                                    </h5>
                                    <small class="fst-italic text-danger">{{item.type}}</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div id="tab-4" class="tab-pane fade p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Others</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        {% for item in site.data.products %}
                        {% if item.category == 'others' %}
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">                                
                                <i class="text-success icon-box lni lni-checkmark" ></i>
                                <div class="w-100 d-flex flex-column text-start ps-2">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{item.name}}</span>
                                        <small class="text-primary" style="font-size: 14px;">{{item.kg}}</small>
                                    </h5>
                                    <small class="fst-italic text-danger">{{item.type}}</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 text-center"><hr>
                <div class="button add-list-button">
                    <a href="https://wa.me/917373022237?text=Quote" target="_blank" rel="noopener" class="btn"><i class="lni lni-whatsapp"></i> Get A Quote</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="title">
                    <h2>Our Partners</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-lg-12 col-md-12 col-12 row justify-content-center">
                <div class="col-lg-4 title wow fadeInUp px-3 py-3" data-wow-delay=".2s">
                    <h2>TATA</h2>
                </div>
                <div class="col-lg-4 title wow fadeInUp px-3 py-3" data-wow-delay=".4s">
                    <h2>AMMAN</h2>
                </div>
                <div class="col-lg-4 title wow fadeInUp px-3 py-3" data-wow-delay=".6s">
                    <h2>ELITE</h2>
                </div>
                <div class="col-lg-4 title wow fadeInUp px-3 py-3" data-wow-delay=".8s">
                    <h2>AASHIRVAAD</h2>
                </div>
                <div class="col-lg-4 title wow fadeInUp px-3 py-3" data-wow-delay="1s">
                    <h2>FORTUNE</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Contact</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">We’d Love To Help You</h2>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="lni lni-map"></i>
                            <h3>Address</h3>
                            <ul>
                                <li>393 RG Street, Town Hall, Coimbatore,
                                    Tamil Nadu - 641001.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="lni lni-phone"></i>
                            <h3>Call us on</h3>
                            <ul>
                                <li><a href="tel:+917373022237">+91 73730 22237</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="lni lni-envelope"></i>
                            <h3>Mail at</h3>
                            <ul>
                                <li>
                                    <a href="#"><span><span
                                                class="__cf_email__">rajatraderscoimbatore<br>@gmail.com</span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>